
.hero .avatar{
    align-items: end;

}
.hero .avatar .avatar_img{
    width: 9vw ;
    overflow: hidden;
    border: 1px solid rgba(244, 165, 96, 0.568);
    border-radius: 50%;
    padding: 1px;
    box-shadow: 2px 2px 20px rgba(235, 229, 229, 0.616) inset;
}
.hero .avatar .avatar_icon{
font-size: 1.7rem;
}
.hero .hero_text{
    color: var(--title) ;
}
.hero .hero_text h1{
    font-size: 3.5rem;
    font-weight: 600;
}
.hero .hero_text h1::after{
    content: '';
    animation-name: show_hide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes show_hide{
    0% {content: 'A';}
    6% {content: 'Ab';}
    12% {content: 'Abd';}
    18% {content: 'Abde';}
    24% {content: 'Abdel';}
    30% {content: 'Abdela';}
    36% {content: 'Abdelaz';}
    42% {content: 'Abdelazi';}
    48% {content: 'Abdelaziz';}
    48% {content: 'Abdelaziz';}
    60% {content: 'Abdelaz';}
    66% {content: 'Abdela';}
    72% {content: 'Abdel';}
    78% {content: 'Abde';}
    84% {content: 'Abd';}
    90% {content: 'Ab';}
    100% {content: 'A';}

}
.hero .hero_icon{
    gap: 1.5rem;
}
.hero .hero_icon .icon{
    color: var(--subtitle);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .5s;
}
.hero .hero_icon .icon:hover{
    font-size: 1.7rem;
    color: var(--iconhover);

}
.light .btn2{
    background-color: rgba(36, 37, 46, 1);
    color: #fff;
}
.btn2{
    border-radius: 50px !important;
    color: var(--title);
    background-color: #ff7a57;
    font-size: 1.1rem;
    font-weight: 600;
    min-width: 120px;
    padding: 0.65rem 0.9rem;
    border: 1px solid transparent;
    margin-top: .5rem;
    line-height: 1.5;
    transition: all .5s;
}
.btn2 a{
    text-decoration: none;
    color: var(--white) ;
}
.btn2 .down_icon{
    font-size: 1.5rem;
    margin-left: .5rem;
    transition: all .5s;

}
.btn2:hover {
    background-color: #ee5630;
}
.btn2:hover .down_icon{
    background-color: #ee5630;
    margin-left: 2rem;
    rotate: 360deg;
    font-size: 1.8rem;
}


@media only screen and (min-width:768px) and (max-width:1023) {
    .hero .hero_text h1{
        font-size: 2.5rem;
        font-weight: 500;
    }
}



@media only screen and (max-width: 767px) {
    .hero .animation{
        display: none;
    }
    .hero .avatar .avatar_img{
        width: 35vw ;
    }
}